name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write

jobs:
  gate:
    runs-on: ubuntu-latest
    outputs:
      is_publish: ${{ steps.flag.outputs.should-publish }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - uses: changesets/action@v1
        with:
          publish: touch .cs-publish
          createGithubReleases: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - id: flag
        run: |
          if [[ -f .cs-publish ]]; then
            echo "should-publish=true" >> $GITHUB_OUTPUT
          else
            echo "should-publish=false" >> $GITHUB_OUTPUT
          fi

  integration-tests:
    needs: gate
    if: needs.gate.outputs.is_publish == 'true'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          # - "@stackattack/astro-static-site"
          # - "@stackattack/vite-static-site-example"
          - "@stackattack/ecs-api-example"
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.3.1
        with:
          role-to-assume: arn:aws:iam::081142152120:role/stackattack-docs-github-role-1543232
          aws-region: us-east-2
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
      - run: pnpm install --frozen-lockfile --filter ${{ matrix.package }}...
      - run: pnpm --filter ${{ matrix.package }}... build
      - name: Set up Docker Buildx
        if: matrix.package == "@stackattack/ecs-api-example"
        uses: docker/setup-buildx-action@v3
      - run: pnpm --filter ${{ matrix.package }} test
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          SKIP_DELETE: "1"
          RUN_ID: "33a9943d"

  publish:
    needs: [gate, integration-tests]
    if: needs.gate.outputs.is_publish == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Build packages
        run: pnpm -r build
      - name: Copy root README to aws
        run: cp README.md packages/aws/README.md
      - name: Create Release Pull Request
        uses: changesets/action@v1
        with:
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
